body {
    background-color: #F6E9D7;
    font-family: 'Lalezar';
    margin: 25px;
}
#calcBord{
    margin: 0 auto;
    width: 178px*5;
    
    background-color: #6B4423;
    padding: 10px;
    border-radius: 10px;
}
#display{
    width: 98%;
    margin-left: 1%;
    height: 25px;
    margin-bottom: 10px;
    height: 50px;
    font-size: 25px;
    color: #6B4423;
    border-radius: 10px;
}
.theKeys{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
.line1,.line2,.line3,.line4{
    display: flex;
    justify-content: space-between;

}
button{
    
    margin: 5px auto;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    color: #F6E9D7;
    background-color: #a75715;
    font-size: 25px;
    transform: scale(1);
    transition: all 1s ease;
    border: #6B4423 solid 1px;
}
button:hover{
transform: scale(1.1);
transform: rotate(-5deg);
color: rgb(95, 26, 26);
background-color: rgb(211, 124, 10);
font-size: 30px;
}
footer{
    background-color: #a75715;
    margin: 50px;
    padding: 25px;
    color: bisque;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
    
}